*{
    margin: 0;
    padding: 0;
}

.main{
    color: linen;
}

.form{
    text-align: center;
}

.form input{
    padding: 10px;
    margin-bottom: 15px;
    border-radius:3px;
    border: transparent;
}

.main{
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.login{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.userid{
    margin-left: 12px;
}

.submit{
    width: 262px;
    margin-top: 20px;
    background-color: skyblue;
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.submit:hover{
    background-color: steelblue;
}

.userbody{
    background-image: url(../assets/admin.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.adminbody{
    background-image: url(../assets/admin.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

.userWelcome{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 30px;
    color: honeydew;
}

.adminWelcome{
    text-align: center;
    padding-top: 40px;
}

.table{
    position: relative;
    margin-bottom: 545px;
}

.pageList{
    display: flex;
}

.relative{
    position: relative;
}

.button{
    padding: 10px 15px;
    border-radius: 10px;
    border: transparent;
    background-color: azure;
    margin: 0px 0px 10px 30px;
    cursor: pointer;
    font-family: emoji;
    font-size: 14px;
}

.message{
    position: absolute;
    left: 200px;
    width: 500px;
}

.userLogout{
    position: absolute;
    right: 70px;
}

.adminWelcome h3{
    color: midnightblue;
    font-size: 35px;
}

.adminList{
    padding: 50px 70px 330px 30px;
}

.adminList a{
    color: purple;
    text-decoration: none;
}

.Logout{
    padding: 5px;
    border-radius: 3px;
    border: transparent;
}

.adminlogout{
    padding: 50px 40px 0px 165px;
    position: absolute;
    right: 50px;
}

.adminTable{
    margin-bottom: 50px;
}

.adminTr{
    border: 1px solid black;
    padding: 10px;
}

.adminTd{
    border: 3px solid black;
    text-align: center;
    padding: 0px 5px;
}

.newOne{
    background-color: green;
    padding: 15px;
}