*{
    margin:0;
    padding: 0;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainForm{
    width: 300px;
    padding: 20px;
}

.main{
    text-align: center;
    margin-top: 30px;
}

.form input{
    padding: 5px;
    margin-bottom: 10px;
    width: 235px;
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout{
    padding: 5px;
    width: 100px;
}